:root {
  --base-color: #6ab99d;
  --base-color-second: #cdf4e6;
  --base-color-alt: #43cb9c;
  --title-color: #0f241d;
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

/* Reset ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* Base  ------------------------------------------------ */

body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 700 2rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  color: var(--color);
}

/* Layout ----------------------------------------------- */

#header {
  height: 4.5rem;
}

nav {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font: 700 1.5rem 'Poppins', sans-serif;
}

.container {
  width: 90%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* Home ----------------------------------------------------- */
