@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?hur5kk');
  src: url('fonts/icomoon.eot?hur5kk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hur5kk') format('truetype'),
    url('fonts/icomoon.woff?hur5kk') format('woff'),
    url('fonts/icomoon.svg?hur5kk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: '\e900';
  color: #ffffff;
}
.icon-github:before {
  content: '\e901';
  color: #ffffff;
}
.icon-linkedin:before {
  content: '\e902';
  color: #ffffff;
}
.icon-phone:before {
  content: '\e903';
}
.icon-wind:before {
  content: '\e904';
}
.icon-industry:before {
  content: '\e905';
}
.icon-engineering:before {
  content: '\e906';
}
.icon-close:before {
  content: '\e907';
}
.icon-cosmetic:before {
  content: '\e908';
}
.icon-facebook:before {
  content: '\e909';
}
.icon-instagram:before {
  content: '\e90a';
  color: #ffffff;
}
.icon-mail1:before {
  content: '\e90b';
}
.icon-map-pin:before {
  content: '\e90c';
}
.icon-menu:before {
  content: '\e90d';
  color: #ffffff;
}
.icon-trim:before {
  content: '\e90e';
}
.icon-whatsapp:before {
  content: '\e90f';
}
.icon-woman-hair:before {
  content: '\e910';
}
.icon-youtube:before {
  content: '\e911';
}
